body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(233, 233, 239);
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    background-color: white;
    text-align: center;
    padding: 20px 60px ;
    /* padding: 25px;
    padding-left: 50px;
    padding-right: 50px; */
    border-radius: 8px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.377);
}
p{
    font-size: 50px;
}
#btn-container{
    display: flex;
    width: 150px;
    justify-content: space-between;
}
button{
    font-size: 25px;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;

}